.bodycontainer{
  width: 100vw ;
  height: 25vh ;
}

.mainc {
    width: 100vw ;
    height: 75vh ;
    background: #000a1e; 
    position: relative;
    overflow: hidden;
    /* margin-bottom: 25px; */
}

.tech-icon {
    position: absolute;
    font-size: 30px;
    opacity: 0.8;
    animation: floating 5s infinite ease-in-out;
    color: rgba(104, 172, 239, 0.5); 
    transition: color 0.2s ease;
  }
  
  .tech-icon:hover {
    color: #007bff; 
  }
  
  .react {
    top: 20%;
    left: 10%;
    font-size: 50px;
  }
  
  .apert {
    top: 50%;
    right: 15%;
  }
  
  .atom {
    bottom: 20%;
    left: 30%;
  }
  
  .box {
    top: 60%;
    left: 50%;
  }
  
  .chrome {
    bottom: 10%;
    right: 25%;
  }

  .laptop {
    bottom: 90%;
    right: 50%;
  }

  .radio {
    bottom: 80%;
    right: 15%;
  }

  .rss {
    bottom: 5%;
    right: 90%;
  }

  .cpu {
    bottom: 50%;
    right: 70%;
  }

  .rss1 {
    bottom: 60%;
    right: 30%;
  }

  @keyframes floating {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    30% {
        transform: translateX(-10px);
    }
    70% {
        transform: translateX(10px);
    }
  }

.hdesc{
  position: absolute;
  text-align: center;
  color: white;
  z-index: 10;
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  left:50%; /* Centers horizontally */
  transform: translate(-50%, -50%);
}

#hmainsae{
    background: linear-gradient(90deg, rgba(70, 172, 231, 0.8), rgba(70, 172, 231, 0.2));
    padding: 5px;
    font-weight: bold;
    box-shadow: 0px 4px 10px rgba(70, 172, 231, 0.5);
    border-radius: 3px;
    animation: fadeBackground 4s infinite alternate;
}
@keyframes fadeBackground {
    0% {
        background: linear-gradient(90deg, rgba(70, 172, 231, 0.8), rgba(70, 172, 231, 0.2));
    }
    50% {
        background: linear-gradient(90deg, rgba(70, 172, 231, 0.5), rgba(70, 172, 231, 0.1));
    }
    100% {
        background: linear-gradient(90deg, rgba(70, 172, 231, 0.8), rgba(70, 172, 231, 0.2));
    }
}

.twobox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.fbox, .sbox{
    border: 1px solid rgba(70, 172, 231, 0.932);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    border-radius: 8px;
    background-color: rgb(47, 103, 214);
    transition: transform 0.3s ease;
}

.fbox:hover,
.sbox:hover {
  transform: scale(1.05); 
}

.allbox{
    z-index: 10;
    display: flex;
    justify-content: space-evenly;
    gap: 20px; 
    margin-top: 400px; 
}

.allbox > div {
    background-color: black; 
    color: white; 
    padding: 15px; 
    border-radius: 10px; 
    font-weight: 500; 
    font-size: 16px; 
    box-shadow: 0 0 10px rgba(70, 172, 231, 0.5); /* Glowing blue effect */
    border: 1px solid rgba(70, 172, 231, 0.8); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    cursor: pointer; 
    height: 100px;
    width: 200px;
}

.allbox > div:hover {
    transform: scale(1.05); 
    box-shadow: 0 0 20px rgba(70, 172, 231, 0.8); 
}

#luic{
    margin-bottom: 5px;
}

.num{
    font-size: larger;
    font-weight: 650;
}
.pdesc{
    color: #4da9f0;
}



.contact{
  background-color: black;
  width: 100vw;
}

.addrbox{
  display: flex ;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

#pcontact{
  font-size: 40px;
  text-align: center;
  margin-bottom: 60px;
  font-weight: 620;
  background: linear-gradient(to bottom right, #000c2456, #000c2456);
  position: relative;
  border-radius: 0 0 100% 60%;
  padding: 10px;
  padding-top: 25px;
  height: 100px;
  color: #FFFFFF;
}

#mail, #map{
  text-decoration: none;
  color: #149DCC;
  font-weight: 505;
  transition: transform 0.1s ease-in-out, color 0.1s ease-in-out;
}

#mail:hover, #map:hover {
  color:#FF497C;
  transform: scale(1.05) ;
}

#saemail, #saeloc{
  color: #FFFFFF;
}

#write, #visit{
  color: #FFFFFF;
  font-size: larger;
  font-weight: 510;
}

.gmail, .gmap{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 5px;
}

.scrollbtn{
  position: fixed ;
  bottom: 20px;
  right: 20px;
  background-color: #98083d;
  color:white;
  border-radius: 50%;
  height:45px;
  width:50px;
  cursor:pointer;
  z-index:100 ;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.scroll-up-btn:hover {
  transform: scale(1.1); 
  background-color: #ab093c;
}


#footerp{
  color: #D3D3D3;
  margin-bottom: 10px;
  text-align: center;
  opacity: 0.8;
}

.social{
  display: flex;
  gap:10px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.social > a{
  transition: transform 0.2s ease, color 0.2s ease;
  color: #bdbdbd7e;
}

.social > a:hover, .social > a:active{
  transform: translateY(-3px) ;
  color: rgba(59, 162, 222, 0.957);
}


.footer {
  display: flex;
  position: relative;
  padding: 20px;
  width: 100% ;
  height: 200px;
  /* background-color: #312D2A; */
  /* background-color: #2C2926; */
  background-color: #100F0E;
  margin-bottom: 20px;
}
.foot1{
  display: flex;
  flex-direction: column;
  margin-left: 300px;
  margin-right: 200px;
}
#simg{
  height: 100px;
  width: 100px;
  margin-right: 20px;
}
#sname{
  color: #FFFFFF ;
}
.footdesc{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.foot2{
  display:flex;
}
.steams{
  display: flex;
  flex-direction: column;
  margin-right: 200px;
}
.quicklinks{
  display: flex;
  flex-direction: column;
}
.steams > p{
  color: #d3d3d3c3;
  margin-bottom: 2px;
}
#mteam, #home, #gallery, #events, #sponsor, #projects, #cont{
  text-decoration: none;
  color: #d3d3d3c3;
  margin-bottom: 2px;
}
#teamh, #quickh{
  color: #FFFFFF;
  margin-bottom: 8px;
}


hr{
  width: 80%;
  margin: 10px auto;
  color: #bdbdbd7e;
  box-shadow: 0 0 10px rgba(70, 172, 231, 0.5);
  opacity: 0.3;
}

.lastf{
  color: #FFFFFF;
  background-color: #FF497C;
  width:100vw ;
  height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 505;
}

.gform{
  top: 1% ;
  right: 35% ;
  position: fixed;
  z-index: 100;
  /* background-color: #B0DFFB; */
  /* background-color: #7399b4; */
  background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
  border: 2px solid black ;
  border-radius: 6px;
  height: 300px ;
  width: 550px ;
  padding: 30px;
  display: flex;
  flex-direction: row;
  z-index: 1000;
}

/* Backdrop style for inactive background */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); 
  z-index: 999; /* Place above all other content */
  backdrop-filter: blur(3px); /* Light blur effect */
}

.formimg{
  margin-right: 10px;
}

#foimg{
  width:250px ;
  height: 250px;
  background-color: rgba(255, 255, 255, 0.016);
}

.formsae{
  display: flex;
  flex-direction: column;
}

#name, #email{
  margin-bottom: 10px;
  padding-left: 4px;
  height: 30px;
  width: fit-content;
  border: 2px solid black ;
  background-color: #FFFFFF;
  color: black;
  border-radius: 5px;
}

#msg{
  width: 230px;
  max-width: 230px;
  height: 100px;
  max-height: fit-content;
  margin-bottom: 15px;
  border: 2px solid black ;
  background-color: #FFFFFF;
  color: black;
  padding-left: 4px;
  padding-top: 4px;
  border-radius: 5px;
}

.fbtn{
  display: flex ;
}
.subbtn{
  margin-left:15px;
}

.fbtn > button{
  /* background-color: #001d56d7; */
  background-color: #736EFE;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: 80px;
  font-size: 15px;
  font-weight: 540;
}

.fbtn > button:hover{
  background-color: #6856f1;
}









